@using System.Text.Json
@{
    ViewData["Title"] = "Shop";
    Player castedPlayer = ViewBag.Player;
}

<h1>Shop</h1>

<ul class="list-group">
    @foreach (var item in (List<Item>)ViewBag.Items)
    {
        // TODO: Add notification of purchase
        <li class="list-group-item">
            <button onclick="Confirm(@JsonSerializer.Serialize(item))" class="btn btn-primary" id="@item.Id">Buy</button>  $@item.Cost - @item.Name
        </li>
    }
</ul>
<div>Money: <span id="money">@castedPlayer.Money</span></div>

<script src="~/js/components/Success.jsx"></script>
<script src="~/js/components/Error.jsx"></script>
<script src="~/js/shop.jsx" asp-append-version="true"></script>