@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RayJay Idle</h1>
    <p>Discord and web based idle game.</p>
    <br/>
    <p>@ViewBag.Message</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Logged in! Welcome @User.Identity.Name</p>
    }
</div>
